<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookland.dao.BookDAO">

    <resultMap id="BaseResultMap" type="com.bookland.entity.Book">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="slug" property="slug"/>
        <result column="price" property="price"/>
        <result column="imageUrl" property="imageUrl"/>
    </resultMap>

    <!-- 用於 PageHelper，做分頁所使用的 SQL -->
    <select id="listAllBooksByPage" resultMap="BaseResultMap">
        SELECT `id`, `name`, `slug`, `price`, `imageUrl`
        FROM book
    </select>

    <select id="listBooksByPage" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT `id`, `name`, `slug`, `price`, `imageUrl`
        FROM book
        WHERE category = #{category}
    </select>

    <!-- 查詢所有書籍 -->
    <select id="retrieveAll" resultType="Book" parameterType="java.lang.String">
        SELECT `id`, `name`, `slug`, `price`, `imageUrl`
        FROM book LIMIT 12
    </select>

    <!-- 根據類別查詢書籍 -->
    <select id="retrieveBooks" resultType="Book" parameterType="java.lang.String">
        SELECT `id`, `name`, `slug`, `price`, `imageUrl`
        FROM book
        WHERE category = #{category} LIMIT 12
    </select>

    <!-- 根據 slug 查詢書籍 -->
    <select id="retrieveBySlug" resultType="Book" parameterType="java.lang.String">
        SELECT `id`, `name`, `slug`, `bookNumber`, `price`, `publisher`, `description`, `category`, `imageUrl`
        FROM book
        WHERE slug = #{slug}
    </select>

    <!-- 關鍵字查詢 -->
    <select id="searchBook" resultType="Book" parameterType="java.lang.String">
        SELECT `id`, `name`, `slug`, `price`, `imageUrl`
        FROM book
        where name like CONCAT('%','${keyword}','%')
           OR
              description like CONCAT('%','${keyword}','%') LIMIT 12;
    </select>

</mapper>