<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookland.dao.OrderDetailDAO">
    <resultMap id="OrderDetailResultMap" type="com.bookland.entity.OrderDetail">
        <id column="id" property="id"/>
        <result column="orderId" property="orderId"/>
        <result column="orderId" property="orderId"/>
        <result column="quantity" property="quantity"/>
        <association property="order" javaType="com.bookland.entity.Order">
            <id column="id" property="id"/>
            <result column="orderNumber" property="orderNumber"/>
            <result column="price" property="price"/>
            <result column="quantity" property="quantity"/>
            <result column="transactionStatus" property="transactionStatus"/>
            <result column="userId" property="userId"/>
            <result column="creditCardId" property="creditCardId"/>
            <result column="createTime" property="createTime"/>
            <association property="creditCard" javaType="com.bookland.entity.CreditCard">
                <id column="id" property="id"/>
                <result column="last4" property="last4"/>
                <result column="cardExpMonth" property="cardExpMonth"/>
                <result column="cardExpYear" property="cardExpYear"/>
                <result column="brand" property="brand"/>
            </association>
        </association>
        <collection property="bookDetails" ofType="com.bookland.entity.Book">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="slug" property="slug"/>
            <result column="bookNumber" property="bookNumber"/>
            <result column="price" property="price"/>
            <result column="publisher" property="publisher"/>
            <result column="description" property="description"/>
            <result column="category" property="category"/>
            <result column="imageUrl" property="imageUrl"/>
            <result column="createTime" property="createTime"/>
        </collection>

    </resultMap>
    <insert id="create" parameterType="com.bookland.entity.OrderDetail">
        INSERT INTO `order_detail` (`orderId`, `bookId`, `quantity`)
        VALUES (#{orderId}, #{bookId}, #{quantity})
    </insert>
    <select id="retrieveByOrderId"  resultType="com.bookland.entity.OrderDetail" parameterType="java.lang.Integer">
        SELECT *
        FROM bookstore.order_detail
        where orderId = #{orderId};
    </select>

    <select id="OrderDetail" parameterType="java.lang.Integer" resultMap="OrderDetailResultMap">
        SELECT b.name , b.bookNumber , b.price , a.quantity , c.price , d.last4 , d.brand
        FROM (((bookstore.order_detail as a LEFT JOIN bookstore.book as b ON a.bookId = b.id)
            LEFT JOIN bookstore.order as c ON a.orderId = c.id)
                 RIGHT JOIN bookstore.credit_card as d ON  c.creditCardId=d.id)
        WHERE c.id = #{orderId};
    </select>
</mapper>