<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookland.dao.OrderDAO">
    <resultMap id="OrderResultMap" type="com.bookland.entity.Order">
        <id column="id" property="id"/>
        <result column="orderNumber" property="orderNumber"/>
        <result column="price" property="price"/>
        <result column="quantity" property="quantity"/>
        <result column="transactionStatus" property="transactionStatus"/>
        <result column="userId" property="userId"/>
        <result column="creditCardId" property="creditCardId"/>
        <result column="createTime" property="createTime"/>
        <association property="user" javaType="com.bookland.entity.User">
            <id column="id" property="id"/>
            <result column="userName" property="userName"/>
            <result column="password" property="password"/>
            <result column="name" property="name"/>
            <result column="email" property="email"/>
            <result column="phone" property="phone"/>
            <result column="address" property="address"/>
            <result column="birthDate" property="birthDate"/>
            <result column="lastLogin" property="lastLogin"/>
            <result column="createTime" property="createTime"/>
        </association>
        <association property="creditCard" javaType="com.bookland.entity.CreditCard">
            <id column="id" property="id"/>
            <result column="last4" property="last4"/>
            <result column="cardExpMonth" property="cardExpMonth"/>
            <result column="cardExpYear" property="cardExpYear"/>
            <result column="brand" property="brand"/>
        </association>
    </resultMap>


    <insert id="create" parameterType="com.bookland.entity.Order">
        INSERT INTO `order` (`orderNumber`, `price`, `quantity`, `userId`, `creditCardId`, `createTime`)
        VALUES (#{orderNumber}, #{price}, #{quantity}, #{userId}, #{creditCardId}, now())
    </insert>

    <select id="retrieveByLatest" resultType="com.bookland.entity.Order">
        SELECT `id`
        FROM `order`
        ORDER BY `createTime` DESC
            LIMIT 1
    </select>

    <select id="retrieveOrdersByUserId" resultType="Order" parameterType="Integer">
        SELECT `orderNumber`, `createTime`
        FROM `order`
        WHERE `userId` = ${userId}
        ORDER BY `createTime` DESC
    </select>


    <select id="retrieveByOrderNumber" resultType="com.bookland.entity.Order" parameterType="java.lang.String">
        SELECT * FROM bookstore.order
        where orderNumber = #{orderNumber};
    </select>

</mapper>