<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookland.dao.UserDAO">
    <resultMap id="UserResultMap" type="com.bookland.entity.User">
        <id column="id" property="id"/>
        <result column="userName" property="userName"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="birthDate" property="birthDate"/>
        <result column="lastLogin" property="lastLogin"/>
        <result column="createTime" property="createTime"/>
        <collection property="userOrders" ofType="com.bookland.entity.Order">
            <id column="id" property="id"/>
            <result column="orderNumber" property="orderNumber"/>
            <result column="price" property="price"/>
            <result column="quantity" property="quantity"/>
            <result column="transactionStatus" property="transactionStatus"/>
            <result column="userId" property="userId"/>
            <result column="creditCardId" property="creditCardId"/>
            <result column="createTime" property="createTime"/>
        </collection>
    </resultMap>

    <insert id="create" parameterType="com.bookland.entity.User">
    INSERT INTO `user` (`userName`, `password`, `email`, `createTime`)
    VALUES (#{userName}, #{password}, #{email}, now() + Interval 8 Hour)
    </insert>

    <update id="updateLoginTime" parameterType="java.lang.String">
    UPDATE `user`
    SET `lastLogin` = now() + Interval 8 Hour
    WHERE `userName` = #{userName}
    </update>

    <select id="retrieveByUserName" resultType="com.bookland.entity.User" parameterType="java.lang.String">
        SELECT `id`, `userName`, `name`, `password`, `email`, `phone`, `address`, `birthDate`, `lastLogin`, `createTime`
        FROM `user`
        WHERE `userName`= #{userName}
    </select>

    <select id="retrieveByEmail" resultType="com.bookland.entity.User" parameterType="java.lang.String">
        SELECT `id`, `userName`, `password`, `email`, `phone`, `address`, `birthDate`, `lastLogin`, `createTime`
        FROM `user`
        WHERE `email` = #{email}
    </select>

    <update id="updateUser" parameterType="com.bookland.entity.User">
        UPDATE user
        SET `name`='${name}',`email`='${email}', `phone`='${phone}',`address`='${address}'
        WHERE `userName`= '${userName}'
    </update>

    <update id="updateUserInfo" parameterType="com.bookland.entity.User">
        UPDATE user
        SET `name` = #{name}, `phone` = #{phone}, `address`= #{address}
        WHERE `userName`= #{userName}
    </update>


</mapper>