/* -- 會員資訊 & 會員訂單  start -- */

.wrap{
     /* 共用方框樣式 */
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.nav-tabs .nav-link:hover{
    /* 滑鼠滑到選單的樣式 */
    border:1px solid ;
   border-color:#fff #fff #17a2b8 #fff; 
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    /* 選單被選到的樣式 */
    background-color: rgb(255, 255, 255);
    border-color: #17a2b8 #17a2b8 #fff #17a2b8;
}
.nav-tabs {
    /* 共用方框樣式 */
    border-bottom: 1px solid #17a2b8;
}
.tab-all{
    /* 共用方框樣式 */
    border-left: 1px solid #17a2b8;
    border-right: 1px solid #17a2b8;
    border-bottom: 1px solid #17a2b8;
}
.memberform{
    /* 會員訂單共用樣式 */
    padding: 20px 40px 40px;
}


/* 會員帳號樣式 start */
label{
    font-weight: bold;
}
.memberform ::placeholder{
    font-size: small;
    color:rgb(141, 141, 141);
}
.tab-all .username-info{
    text-align: left;
    padding: 30px 30px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.tab-all .user-edit{
    text-align: left;
    padding:10px 30px 0px ;
    font-weight: bold;
    font-family: "微軟正黑體","黑體","宋體",sans-serif;
}

.name-form,.email-form,.phone-form,.address-form,.cgpassword-form{
    text-align: left;
    margin-top: 20px;
    font-size: small;
    font-family: Arial, Helvetica, "微軟正黑體","黑體","宋體",sans-serif;
}
.cgpassword-form label{
padding: 10px 20px 10px 0px;
}
.cgpassword-form a{
    text-decoration: none;
}
.mb-button{
    text-align: right;
}
.mb-button .btn-block{
    display: inline-block;
    width: 80px;
    font-size: small;   
}
.mb-button .btn-block+.btn-block {
    margin-top:0rem;
}
/* 會員帳號樣式 end */

/* 會員訂單樣式 start*/
.inputerror .order-query{
    width: 150px;
    height: 33px;
    vertical-align: bottom;
}
.or-button{
    text-align: left;
    
}
.or-button input{
    display: inline-block;
    
}
.or-button .or-btn{
    display: inline-block;
    width: 80px;
    font-size: small;   
}
.order-table{
    margin-top: 20px;
}
.order-table th, td{
    font-size: small;
}
.order-no .cancel{
    color:#dc3545;
}
.order-no .complete{
    font-weight: bold;
}
.order-no img:hover{
  border:.5px solid #dc3545;
  border-radius: 50%;
}
/* 會員訂單樣式 end*/

/* 彈出視窗 start */
.btn-close{
    /* button-x的位置 */
    width: 100%;
    padding: 10px 10px 0px;
}
.close:focus{
    /* button-x的邊框 */
    outline:none;
}
.btn-primarynew {
    padding: 0px;
    background-color:transparent;
}
.item-order{
    display: flex;
    padding: 20px 10px;
    
}
.item-orderdetail, .item-productdetail{ 
    width:350px;
    padding: 5px;
}
.item-productdetail{
    border-left: 1px dashed #17a2b8;
}
.order .number{
    background-color: #17a2b8;
    color:#fff;
    padding: 10px;
    font-weight: bold;
}
.pro-items .products{
    background-color: #dc3545;
    color:#fff;
    padding:10px;
    font-weight: bold;
}
.order-items .table tr:nth-of-type(odd) {
 background-color: transparent;
}
.products-detail .table tr:nth-of-type(odd){
    background-color:transparent;
}
.products-detail .table .titcolor:nth-of-type(n+1){
    background-color:#e3e2df;
}
.products-detail .table .bgcolor:nth-of-type(2n+2){
    background-color:#e3e2df;
}
.order-footer img:hover{
    border:none;
}
.order-footer{
    display: flex;
    width: 100%;
    padding: 0px 30px 30px;
    justify-content: flex-start;
    
}
.order-footer img{
    width: 40px;
    height: 40px;
}
.order-footer p{
    margin-bottom: 0px;
    line-height: 40px;
    padding-right: 10px;
}
.order-footer a{
    text-decoration: none;
}
.bgcolor a{
    text-decoration: none;
    color:#131313;
}
.bgcolor a:hover{
    color:#dc3545;
}
@media(max-width:991.98px){
    .item-orderdetail, .item-productdetail{
        width:400px;  
    }
    .item-order{
        flex-direction: column;
        align-items: center;
     }
     .item-productdetail{
        border-top: 1px dashed #17a2b8;
        border-left:none;
    }
    .order-footer{
        justify-content:center;
    }
}
@media(max-width:768px){
    .item-orderdetail, .item-productdetail{
        width:400px;
    }
    
}
@media(max-width:450px){
    .item-orderdetail, .item-productdetail{
        width:300px;
    }
}

/* 彈出視窗 end */



.nav-item a{
    /* 共用選單樣式 */
    color:#495057;
}
@media screen and (max-width: 767px){
    /* 會員訂單共用樣式 */
    .wrap{
        width: 100%;
    }
}
/* -- 會員資訊 & 會員訂單  end -- */

/* 表格正常樣式 start */
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #808080;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(108 108 108 / 25%);
}
/* 表格正常樣式 end */

/* 表格錯誤樣式 start*/
.is-invalid{ 
    border-color: rgb(220, 53, 69);
    box-shadow: rgb(220 53 69 / 25%) 0px 0px 0px 0.2rem;
    background-image: url(icon/warning.svg);
    background-size:20px;
    background-repeat: no-repeat;
    background-position-x:98%;
    background-position-y: 50%; 
}
.text-muted{
    visibility: hidden;
    font-size:10px;
    color:#dc3545 !important;
    font-family: "微軟正黑體","黑體","宋體",sans-serif;
    text-align: left;
}
.is-invalid + .text-muted{
    visibility: visible;
}
/* 表格錯誤樣式 end*/


