
.message-form{
    margin: auto; 
    margin-top: 40px;
    max-width: 60%;
 }
 .message .card-header{
     color:#17a2b8;
     font-weight: bold;
 }
 .message .text-info label{
     color:rgb(77, 77, 77);
     font-weight: bold;
 }
 .message .card-body{
     padding: 20px 40px 40px;
 }
 .msg-form ::placeholder{
     font-size: small;
     color:rgb(141, 141, 141);
 }
 .message-btn{
     width: 150px;
     display:inline-block;
 }
 .msg-btn{
     text-align: right;
 }

 
 @media (max-width:992px){
     .message-form{
         max-width: 80%;
     }
 
 }
 
 
