<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/css/icon/bookico.svg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/vendor/bootstrap-4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/model-css.css">
  <link rel="stylesheet" href="/static/css/account.css">

  <title>BookLand Bookshop</title>
</head>

<body>
  <!-- logo & icon區 start -->
  <header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <div>
          <a href="bookland_home.html"><img src="/static/css/icon/booklogo.svg" width="70px" class="logo"></a>
        </div>
        <div class="icon-3">
          <li class="user-none"><a href="javascript:void(0);">
            <img src="/static/css/icon/user.svg" width="33px" class="user">
            <p>username</p>
          </a>
          <ul class="list-group hide">
            <li class="list-group-item "><a href="account.html">帳戶資訊</a></li>
            <li class="list-group-item"><a href="newpass.html">更改密碼</a></li>
            <li class="list-group-item"><a href="/logout">登出</a></li>
          </ul>
          </li>
          <li class="login-none"><a href="login.html"><img src="/static/css/icon/login.svg" width="30px"
                class="login"></a></li>
          <li><a href="cart.html"><img src="/static/css/icon/cart.svg" width="25px" class="cart"></a></li>
          <li><a href="javascript:void(0);"><img src="/static/css/icon/msg3.svg" width="30px" class="msg"></a></li>
        </div>
        </ul>
      </div>
    </div>
  </header>
  <!--logo & icon區 end -->

  <!-- 導覽列 start -->
  <navbar>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <button type="button" class="btn btn-line" data-toggle="modal" data-target=".bd-example-modal-sm">
        <img src="/static/css/icon/colorline.svg" width="40px" class="line"></button>
      <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="btn-x" aria-hidden="true">&times;</span>
            </button>

            <br>
            <strong>加 BookLand 好友吧 !</strong><br>
            <img src="/static/css/icon/qrcode.png" alt="bookland-qr-code">
            <strong style="color:brown">ID : @454avqhn</strong><br>
            <p>任何問題都可詢問 BookLand ~<br>
              BookLand 會盡快回覆您 ~</p>
          </div>
        </div>
      </div>





      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="new.html">NEW</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              BOOKS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="all.html">全部 All</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="fineart.html">美術 Fine Art</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="photography.html">攝影 Photography</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="posterbook.html">海報 & 設計 Poster & Design</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="magazine.html">MAGAZINES</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="about.html">ABOUT</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Key Words" aria-label="Search">
          <button class="btn btn-search btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </navbar>
  <!-- 導覽列 end -->


  <!-- 會員資訊 & 會員訂單 start -->
  <!-- 會員資訊 -->
  <div class="wrap">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="member-tab" data-toggle="tab" href="#member" role="tab" aria-controls="member"
          aria-selected="true">個人資訊</a>
      </li>

      <!-- 會員訂單 -->
      <li class="nav-item">
        <a class="nav-link" id="order-tab" data-toggle="tab" href="#order" role="tab" aria-controls="order"
          aria-selected="false">訂單查詢</a>
      </li>
    </ul>

    <!-- 會員資訊 & 會員訂單  共用方框 tab-all -->
    <div class="tab-all">
      <!-- 會員資訊 -->
      <div class="username-info">
        <img src="/static/css/icon/account.svg" alt="" width="20px">
        <span class="user-name">username</span>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="member" role="tabpanel" aria-labelledby="member-tab">
          <div class="user-edit">
            <img src="/static/css/icon/edit.svg" alt="" width="20px">
            <span class="user-info">編輯個人資料</span>
          </div>
          <form class="memberform">
            <div class="form-froup name-form">
              <label for="exampleInputname">姓名 (選填)</label>
              <div class="inputerror">
                <input type="text" id="name" class="form-control " placeholder="Name">
              </div>
            </div>
            <div class="form-group email-form">
              <label for="exampleInputEmail1">Email address</label>
              <div class="inputerror">
                <input type="email" class="form-control is-invalid" id="email" aria-describedby="email"
                  placeholder="Enter email">
                <small id="emailerror" class="form-text text-muted">* Email不是正確格式</small>
              </div>
            </div>
            <div class="form-group phone-form">
              <label for="exampleInputPhone">手機號碼 (選填)</label>
              <div class="inputerror">
                <input type="text" class="form-control is-invalid" id="phone" placeholder="0913111000">
                <small id="phoneerror" class="form-text text-muted">* 手機號碼長度不對</small>
              </div>
            </div>
            <div class="form-group address-form">
              <label for="exampleInputAddress">收貨地址 (選填)</label>
              <div class="inputerror">
                <input type="text" class="form-control " id="address" placeholder="Add address">
              </div>
            </div>
            <div class="form-group cgpassword-form">
              <label for="exampleInputPass">密碼</label>
              <a href="newpass.html">設定新的密碼</a>
            </div>
            <div class="mb-button">
              <button type="button" class="btn btn-outline-secondary btn-block mb-btn">取消</button>
              <button type="button" class="btn btn-secondary btn-block mb-btn">儲存變更</button>
            </div>
          </form>
        </div>

        <!--  會員訂單  -->
        <div class="tab-pane fade" id="order" role="tabpanel" aria-labelledby="order-tab">
          <form class="memberform">
            <div class="form-group orderquery-form">
              <div class="inputerror or-button">
                <input type="text" class="form-control order-query" id="orderquery" aria-describedby="orderquery"
                  placeholder="輸入訂單編號">
                <button type="button" class="btn btn-secondary btn-block or-btn">查詢</button>
                <div class="all-table">
                  <table class="table table-striped order-table">
                    <thead>
                      <tr>
                        <th scope="col">訂單編號</th>
                        <th scope="col">日期</th>
                        <th scope="col">訂單狀態</th>
                        <th scope="col">明細</th>
                      </tr>
                    </thead>
                    <tbody class="order-no">
                      <tr>
                        <td scope="row">#00001</td>
                        <td>2021/04/02</td>
                        <td class="complete">完成</td>
                        <!-- 訂單一明細彈出視窗 start -->
                        <td><button type="button" class="btn btn-primarynew" data-toggle="modal"
                            data-target=".bd-example-modal-lg">
                            <img src="/static/css/icon/order.svg" width="25px">
                          </button>

                          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="btn-close">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="item-order">
                                  <div class="item-orderdetail">
                                    <div class="order">
                                      <p class="number">訂單編號 : #00001</p>
                                    </div>
                                    <div class="order-items">
                                      <table class="table">
                                        <tbody>
                                          <tr>
                                            <th scope="row">訂單日期</th>
                                            <td>2021/04/02</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">訂單狀態</th>
                                            <td>完成</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">收件人姓名</th>
                                            <td>虎子</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">收件人電話</th>
                                            <td>0913111000</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">收件人地址</th>
                                            <td>台北市大安區仁愛路三段122號B1</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">留言</th>
                                            <td>中午前送達</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">付款卡號</th>
                                            <td>111**********000</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">運費</th>
                                            <td>0</td>
                                            <!-- 訂單金額2000元以上,顯示0元運費 -->
                                            <!-- 訂單金額2000元以下,顯示80元運費 -->
                                          </tr>
                                          <tr>
                                            <th scope="row">結帳金額</th>
                                            <td>3270</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <div class="item-productdetail">
                                    <div class="pro-items">
                                      <p class="products">商品明細</p>
                                    </div>
                                    <div class="products-detail">
                                      <table class="table">
                                        <thead>
                                          <tr class="titcolor">
                                            <th scope="col">書名</th>
                                            <th scope="col">書號</th>
                                            <th scope="col">單價</th>
                                            <th scope="col">數量</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr class="bgcolor">
                                            <td><a href="#">Paul Gauguin</a></td>
                                            <td>f01</td>
                                            <td>700</td>
                                            <td>1</td>
                                          </tr>
                                          <tr class="bgcolor">
                                            <td><a href="#">Alfred Sisley 1839-1899</a></td>
                                            <td>f18</td>
                                            <td>1090</td>
                                            <td>1</td>
                                          </tr>
                                          <tr class="bgcolor">
                                            <td><a href="#">The Boston</a></td>
                                            <td>d15</td>
                                            <td>790</td>
                                            <td>1</td>
                                          </tr>
                                          <tr class="bgcolor">
                                            <td><a href="#">Cat Daily</a></td>
                                            <td>p04</td>
                                            <td>690</td>
                                            <td>1</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                                <div class="order-footer">
                                  <img src="/static/css/icon/msg3.svg">
                                  <p><a href="#">聯絡客服</a></p>
                                  <img src="/static/css/icon/print.svg">
                                  <p><a href="#">列印明細</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <!-- 訂單一明細彈出視窗 end -->
                      </tr>
                      <tr>
                        <td scope="row">#00002</td>
                        <td>2021/04/03</td>
                        <td class="cancel">取消</td>
                        <td><a href="#"><img src="/static/css/icon/order.svg" width="25px"></a></td>
                      </tr>
                      <tr>
                        <td scope="row">#00003</td>
                        <td>2021/04/03</td>
                        <td class="complete">完成</td>
                        <td><a href="#"><img src="/static/css/icon/order.svg" width="25px"></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- 會員資訊 & 會員訂單 end -->





  <!-- footer 區 start -->
  <footer>
    <div class="co">
      <span>Copyright &copy; 2021 <a class="backhome" href="bookland_home.html"><strong>BookLand</strong></a> </span>
    </div>
  </footer>
  <!-- footer 區 end -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/static/vendor/jquery/jquery-3.5.1.min.js"></script>
  <script src="/static/vendor/bootstrap-4.1.3/js/popper.min.js"></script>
  <script src="/static/vendor/bootstrap-4.1.3/js/bootstrap.min.js"></script>

   <!-- 會員帳號管理 icon button -->
   <script>
    $('.user-none').hover(function(){
      $('.hide').toggle();
    })
  </script>

</body>



</html>